body {
  font: 14px "Century Gothic", Futura, sans-serif;
}

.board {
  width: 700px;
  height: 600px;
  margin: 0 auto;
  background-color: #1068af;
  color: #fff; /* text color*/
  border: 6px solid #263642;
  border-radius: 10px;

  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: auto;
}

.square {
  border: 6px solid #1a71d4;
  border-radius: 50%;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
